#TODO {
    width: 100%;
}

.background {
    background-color: rgba(0, 0, 0, 0.25);
    padding: 2em;
    border-radius: 5%;
}

.quote {
    font-style: italic;
    font-size: 28px;
}
.author {
    font-size: 20px;
}